<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleMarketPlaceClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreAdServlet</display-name>
    <servlet-name>StoreAdServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.StoreAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreAdServlet</servlet-name>
    <url-pattern>/StoreAdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAdServlet</display-name>
    <servlet-name>DisplayAdServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.DisplayAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAdServlet</servlet-name>
    <url-pattern>/DisplayAdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyItemServlet</display-name>
    <servlet-name>BuyItemServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.BuyItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyItemServlet</servlet-name>
    <url-pattern>/BuyItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyItemsFinal</display-name>
    <servlet-name>BuyItemsFinal</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.BuyItemsFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyItemsFinal</servlet-name>
    <url-pattern>/BuyItemsFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOutServlet</display-name>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/SignOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionBuyServlet</display-name>
    <servlet-name>TransactionBuyServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.TransactionBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionBuyServlet</servlet-name>
    <url-pattern>/TransactionBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionSellServlet</display-name>
    <servlet-name>TransactionSellServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.TransactionSellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionSellServlet</servlet-name>
    <url-pattern>/TransactionSellServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCartServlet</display-name>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>lab2.Question2.MarketPlace.ViewCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/ViewCartServlet</url-pattern>
  </servlet-mapping>
</web-app>